.b-div {
    position: relative;
    width: 50vw;
    height: 30vh;
    border: 10px solid #006CB7;
    background-color: red;
}

.birdie {
    position: absolute;
    top: 10vh;
    left: 5%;
    width: 50px;
    height: 50px;
    background-color: blue;
    border: 1px solid #fff;

    animation: fly 3s ease-in-out 0.5s infinite forward;
    /* animation-name: fly;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: forward; */
    
    animation-fill-mode: both;
}

/* Animation */
@keyframes fly {
    0% {
        background-color: yellow;
        transform: translate(0,0) rotate(0deg);
    }

    50% {
        background-color: green;
        transform: translate(20vw,-5vh) rotate(45deg);
    }

    100% {
        background-color: purple;
        transform: translate(40vw,0) rotate(90deg);
    }
}